.book {
  padding: 30px;
  margin: 10px 0px;
  transition: all 0.5s ease;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border: solid 2px #41403e;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.oppositeBorderBook {
  border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
}
.book:hover {
  background: paleturquoise;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.title {
  font-size: 30px;
  padding: 15px 0px;
}

.author {
  font-size: 1.5rem;
  padding: 10px 0px;
}

.link {
  margin-top: 20px;
  font-size: 1.25rem;
  transition: all ease-out 0.4s;
}

.link:hover {
  color: rgb(255, 117, 43);
  font-size: 1.5rem;
}
